
[Desktop Entry]
Name=Nautilus Compare Preferences
Type=Application
GenericName=Preferences for Nautilus Compare Extension
Icon=preferences-other
Keywords=filemanager;diff;compare;preferences;
Categories=Settings;
X-Ubuntu-Gettext-Domain=nautilus-compare
Exec=nautilus-compare-preferences
